<h2>Dashboard</h2>
<div class="row">
    <div class="col-md-12">
        <ec-imagebutton image="placeorder" text="Place Order"
            (ecClick)="placeOrder()"></ec-imagebutton>
        <ec-imagebutton image="searchorder" text="Search Order"
            (ecClick)="searchOrder()"></ec-imagebutton>
        <ec-imagebutton image="enquireuser" text="Manage Users"
            (ecClick)="searchOrder()"></ec-imagebutton>
        <ec-imagebutton image="housekeeping" text="Housekeeping"
            (ecClick)="searchOrder()"></ec-imagebutton>
        <ec-imagebutton image="datasync" text="Sync from ERP"
            (ecClick)="searchOrder()"></ec-imagebutton>            
    </div>
    
</div>