<h2 i18n>Login</h2>
<form>
    <div class="row">
        <div class="col-md-12">
            <ec-textfield   #username
                            id="username" i18n-label label="User name" 
                            [maxLength]=10 [accessRights]="accessRights"></ec-textfield>
        </div>
        <div class="col-md-12">
            <ec-password   #password
                            id="password" i18n-label label="Password" 
                            [maxLength]=15 [accessRights]="accessRights"></ec-password>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ec-button  id="signIn" i18n-name name="Reset" [accessRights]="accessRights"
                        (ecClick)="reset()"></ec-button>
            <ec-button  id="signIn" i18n-name name="Sign In" [accessRights]="accessRights"
                        (ecClick)="login()"></ec-button>
        </div>
    </div>
</form>